.sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #1e293b;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  z-index: 100;
}

.sidebar-logo {
  padding: 10px;
  margin-bottom: 30px;
}

.sidebar-logo h2 {
  text-align: center;
  margin: 0;
  font-size: 24px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  background: transparent;
  color: #cbd5e1;
  text-align: left;
  font-size: 15px;
  transition: 0.3s;
}

.nav-item span:first-child {
  font-size: 18px;
}

.nav-item:hover {
  background-color: #334155;
  color: white;
}

.nav-item.active {
  background-color: #596880;
  color: white;
}

.sidebar-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}












@media (max-width: 768px) {

  .sidebar {
    width: 70px;
    padding: 20px 10px;
  }

  .sidebar-logo h2 {
    font-size: 0;
  }

  .sidebar-logo h2::after {
    content: "✓";
    font-size: 25px;
  }

  .nav-item {
    justify-content: center;
    padding: 12px 5px;
  }

  .nav-item span:last-child {
    display: none;
  }
}